.nimbus-bg {
  background-color: #131313;
  color: white;
}

.nimbus-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
}

.nimbus-fotos {
  max-width: 100%;
  display: block;
}

.nimbus-fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.nimbus-fotos img:nth-child(1) {
  grid-column: 1/-1;
}

.nimbus-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.nimbus-conteudo p {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #b2b2b2;
}

.nimbus-entrega {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-self: start;
  margin-bottom: 30px;
}

.nimbus-entrega-detalhe {
  grid-row: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  justify-self: start;
  padding: 5px;
  background-color: #000;
  border-radius: 4px;
}
.nimbus-conteudo a {
  grid-row: 2;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 600;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #332200;
  border-radius: 4px;
  padding: 15px 25px;
  align-self: center;
}

.nimbus-conteudo a:hover {
  background: #cc7000;
  color: #f8f8f8;
}

.nimbus-entrega p {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  color: #b2b2b2;
}

.nimbus-subtitulo {
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.nimbus-vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 40px;
  padding: 30px 40px;
  background-color: #000;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 20px;
}

.nimbus-vantagens-itens {
  display: grid;
}

.nimbus-vantagens-itens img {
  display: inline-block;
}

.nimbus-vantagens-itens h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 15px;
}

.nimbus-vantagens-itens p {
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 400;
  color: #b2b2b2;
}

.nimbus-lista {
  display: grid;
  padding: 30px 40px;
  background-color: #000;
  border-radius: 6px;
  gap: 15px 0px;
}

.nimbus-lista li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #111111;
  padding-bottom: 10px;
}

.nimbus-lista li:nth-child(6) {
  border-bottom: none;
}

.nimbus-ficha p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  color: #cccccc;
}

.nimbus-ficha span {
  display: inline-block;
  justify-self: end;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  color: #9c9c9c;
}

/* Artigo Bicicletas Outras */
#bg {
  margin-top: 50px;
  margin-bottom: 30px;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

#titulo {
  padding-left: 20px;
}

/* Artigo Seguros */
.seguro-bg {
  background: #111;
  box-shadow: inset 0 80px #fff, inset 0 -80px #000;
  margin-top: 30px;
}

.seguro-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.seguro-conteudo {
  display: grid;
  gap: 20px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.seguro-titulo {
  font-size: 4.2rem;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}

.seguro-texto {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #b2b2b2;
  width: 40ch;
  margin-top: 20px;
}

.seguro-button {
  display: inline-block;
  justify-self: start;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #332200;
  border-radius: 4px;
}

.seguro-button:hover {
  background: #cc7000;
  color: #f8f8f8;
}

/* Responsivo */
@media (max-width: 1200px) {
  .nimbus-conteudo p {
    font-size: 1.2rem;
  }
  .nimbus-conteudo a {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .nimbus-entrega p {
    font-size: 0.9rem;
  }
  .seguro-bg {
    box-shadow: initial;
    padding: 20px;
    margin: 0px;
  }
  .seguro-container {
    align-items: center;
    gap: 20px;
  }
  .seguro-conteudo {
    padding: 40px 20px;
  }
  .seguro-titulo {
    font-size: 3rem;
  }
  .seguro-texto {
    font-size: 1;
  }
  .seguro-button {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    padding: 15px 20px;
  }
}

@media (max-width: 1000px) {
  .nimbus-vantagens-itens h2 {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  .nimbus-vantagens-itens p {
    font-size: 0.875rem;
    line-height: 1;
  }
  .nimbus-subtitulo {
    font-size: 0.8rem;
  }
  .seguro-container {
    align-items: center;
    gap: 20px;
  }
  .seguro-titulo {
    font-size: 2.5rem;
  }
  .seguro-texto {
    font-size: 0.9rem;
  }
  .seguro-button {
    font-size: 1rem;
    padding: 10px 15px;
  }
}

@media (max-width: 800px) {
  .nimbus-container {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .nimbus-conteudo p {
    font-size: 1.1rem;
    text-align: center;
  }
  .nimbus-conteudo a {
    font-size: 0.9rem;
    padding: 12px;
    text-align: center;
  }
  .nimbus-vantagens-itens h2 {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  .nimbus-entrega {
    justify-self: center;
  }
  .nimbus-entrega p {
    font-size: 0.875rem;
  }
  .nimbus-vantagens {
    grid-template-columns: 1fr;
  }
  .nimbus-vantagens-itens {
    grid-template-columns: auto 1fr;
    gap: 10px;
  }
  .nimbus-vantagens-itens img {
    grid-area: 1;
  }
  .nimbus-vantagens-itens h2 {
    grid-area: 1;
  }
  .nimbus-vantagens-itens p {
    grid-column: 1 / -1;
    text-align: start;
  }
  .seguro-container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0px;
  }
  .seguro-img {
    width: 250px;
    place-self: center;
  }
  .seguro-conteudo {
    padding: 0px;
  }
  .seguro-titulo {
    font-size: 1.5rem;
    text-align: center;
  }
  .seguro-texto {
    justify-self: center;
    text-align: center;
    margin: 0px;
  }
  .seguro-button {
    justify-self: center;
    font-size: 0.9rem;
  }
}
