.vantagens-bg {
  background: #000;
}

.vantagens-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 80px 20px;
  box-sizing: border-box;
}

.vantagens-conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.vantagens-items {
  display: grid;
  gap: 10px;
}

.vantagens-items h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}

.vantagens-items p {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  color: #9c9c9c;
}

/* Responsivo */
@media (max-width: 800px) {
  .vantagens-container {
    gap: 20px;
    padding: 30px 20px;
    margin-top: 0px;
  }

  .vantagens-conteudo {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 15px;
  }
  .vantagens-items img {
    width: 20px;
  }
  .vantagens-container h2 {
    font-size: 2.5rem;
  }
  .vantagens-items h3 {
    font-size: 1.1rem;
  }

  .vantagens-items p {
    font-size: 0.9rem;
  }
}

/* Responsivo */
@media (max-width: 600px) {
  .vantagens-conteudo {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .vantagens-container h2 {
    font-size: 2rem;
  }
  .vantagens-items img {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .vantagens-items h3 {
    font-size: 1.1rem;
    grid-row: 1;
    grid-column: 1/-1;
    padding-left: 30px;
  }
  .vantagens-items p {
    max-width: 60ch;
  }
}
